body {
    background: #000;
    color: #fff;
    font-family: "Courier New", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 360px;
    background: #0a0a0a;
    padding: 25px;
    border: 1px solid #222;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255,255,255,0.05);
}

h2 {
    margin-bottom: 18px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

input {
    width: 95%;
    padding: 12px;
    margin-bottom: 12px;
    background: #111;
    color: #fff;
    border: 1px solid #444;
    border-radius: 6px;
}

input:focus {
    outline: none;
    border-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

#progressBar {
    height: 4px;
    width: 0%;
    background: #4fff4f;
    transition: width 0.4s ease; /* sudah oke */
    margin-bottom: 14px;
}

.result {
    color: #ccc;
    line-height: 1.4;
    min-height: 70px;
    font-size: 14px;
}

/* Warning list clean */
.warning-list {
    margin-top: 8px;
    padding-left: 14px;
    color: #f77;
    font-size: 13px;
}

.deep-scan {
    margin-top: 15px;
    padding: 10px;
    background: #111;
    border: 1px solid #222;
    border-radius: 6px;
    font-size: 12px;
    color: #aaa;
}

.bar {
    height: 5px;
    background: #0f0;
    width: 0%;
    transition: width 0.4s linear;
    box-shadow: 0 0 10px #0f0;
}