body {
    background: #000;
    color: #ffffff;
    font-family: "Courier New", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    border: 1px solid #ffffff;
    padding: 20px;
    width: 350px;
    text-align: center;
    box-shadow: 0 0 15px #ffffff;
}

input {
    width: 90%;
    padding: 10px;
    background: #000;
    color: #ffff;
    border: 1px solid #ffff;
}

.result {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}
